/src/test/
/target/
/src/main/resources/
/.idea/
/src/main/java/projectFamilyTree/.idea/
/src/main/java/projectFamilyTree/.file.doc/
/src/main/java/projectFamilyTree/.file.md/
/src/main/java/projectFamilyTree/.file.txt/
/src/main/java/projectFamilyTree/.text.bin/
/src/main/java/projectFamilyTree/.pom.xml/
